# The UDP port on which the web server agent should listen for data packets. Should only be changed
# if the default port (UDP port 8001) is in use by a different application.
# This is NOT the port of the dynaTrace Collector this agent should connect to.
# Default: 8001
#Port 8001

# The name of the web server agent (used for agent mapping on the dynaTrace Server).
Name <%= ENV['DYNATRACE_AGENT_NAME'] %>

# The address of the dynaTrace Collector this agent should connect to. 
# The address is of the form host:port, e.g. exampleserver:9998
Server <%= ENV['DYNATRACE_COLLECTOR'] %>

# The loglevel, valid values are: [finest|finer|fine|config|info|warning|severe|none]
# Default: info
Loglevel info

# The console loglevel, valid values are: [finest|finer|fine|config|info|warning|severe|none].
# Depending on this setting, log messages will also be written to the console (or to the 'stderr' output).
# For Apache this means that the log output with the selected level will also go to the error.log file.
# Default: none
#ConsoleLoglevel none

# The path to the directory holding the log files
# Default: <agent location>/../../log
LogfilePath <%= ENV['OPENSHIFT_DTNODE_DIR'] %>/logs

# The maximum log file size. As soon as a log file exceeds this limit, a new log file will be
# created and the old one saved (= log file rotation). If there's no space left on the device,
# logging will be stopped as long as there's not enough space. The maximum log file size has
# to be greater than 64 KiB. Note: log files will be created for the webserver agent and an
# extra one for each of the webserver worker processes. So at least two different log files
# will exist.
# Possible values: <size> [KiB|MiB]
# Default: 10 MiB
#LogfileSize 10 MiB

# The path to the shared memory file. This file is being used by the master and sub agents
# to exchange configuration data. Master and sub agents (eg. dtwsagent, dtiisagent7) need
# read, write and create permissions for that file. 
#
# If this option is not specified the agent will attempt to use the shared memory file
# located at <agent location>/dynaTraceWebServerSharedMemory
#
# This option should only be altered if there are agent installations in different directories
# or if you experience problems with Microsoft's Folder Virtualization.
#
# Default: <agent location>/dynaTraceWebServerSharedMemory
#SharedMemoryFileName /path/to/dynaTraceWebServerSharedMemory

# The size - in bytes, Kibibytes or Mebibytes - of the shared memory heap. This roughly corresponds to the size of the 
# file used for shared memory communication.
# This option should only be altered if the default size is insufficient, as indicated in agent logs.
# Possible Values <size> [KiB|MiB]
# Default: 4 MiB
#SharedMemoryHeapSize 4 MiB

# Use this directive to change the default permissions of the shared memory file. Use an octal
# value to specify the permissions (see man chmod(1)). The default is 0666 which means read and
# write rights for the owner, the group and everyone.
#
# This setting has no relevance on Windows platforms.
#
# Default: 0666
#SharedMemoryUnixFilePermissions 0666

# Remove the dynaTrace request header (=deactivate "tagging"). The webserver agents use this header to
# keep track of the PurePaths. If you set the RemoveTag value to true, the path correlation will no
# longer work. Use this setting eg. in proxy environments, where different dynaTrace versions are
# running at the same time and you want that one does not interfere with the other.
# Default: false
#RemoveTag false

# Change the IIS6 (ISAPI) filter module load order. Be careful when changing the default value,
# because this has a direct impact on the agent behaviour. If the agent is loaded at the wrong
# time (eg. too late/early), it might not get all data it needs to operate properly.
# Possible values: Low, Medium, High
# Default: Medium
#IIS6NotifyOrder Medium

# This setting can be used to handle compression of injected content (responses). If
# CompressInjectedResponse is true, then every response will be compressed depending on
# the Accept-Encoding request header. Set this variable to 'false' and the injected
# content will never ever be compressed (regardless of the Accept-Encoding request
# header). Turning this option off might yield better response times and lesser CPU load
# but it will also increase network traffic due to the uncompressed content sent.
# Possible values: true, false
# Default: true
CompressInjectedResponse true

# This setting defines a path name where the downloaded web server agent modules should be stored.
# Default: <agent location>/../download
#Storage /path/to/agent/storage

# When enabled, the bootstrap agent will use local shared objects instead of ones downloaded
# from the dynatrace server.
# Possible values: true, false
# Default: false
#NoBootstrap false

# The JavaScript agent injection can be made faster for compressed requests by adapting
# request headers to postpone the compression until after the injection, the downside
# being a marginally slower performance for requests not yielding an injectable HTML.
# This can be selectively enabled or disabled pro extension or a heuristic can be applied
# to automatically decide, for which extensions the speedup makes sense.
# This setting has no effect on IIS 6.
# 
# Possible values: a comma-separated list of <extension>:<setting>, <setting> being
# one of: always, never, auto. For unspecified extensions "auto" is the default.    
# Setting "aspx:auto" is not recommended as it's known to cause problems with script resources.
# "aspx:always" is known not to be compatible with certain SharePoint components.
# If you don't use SharePoint, you might want to consider setting aspx:always for
# a better performance of other aspx applications. 
#
# Default: htm:always,html:always,aspx:never
#IISInjectionSpeedup htm:always,html:always,aspx:never

# Defines a threshold for the size (number of entries) of the UDP packet queue between a 
# subagent and master agent. 
# If the queue exceeds the low watermark, entries will be compacted to conserve memory at 
# cost of performance.
#
# Default: 2000 
#UDPQueueLowWatermark 2000

# Defines a threshold for the size (number of entries) of the UDP packet queue between 
# a subagent and master agent. 
# If the queue exceeds the high watermark, entries will be skipped.
#
# Default: 50000
#UDPQueueHighWatermark 50000

# The Apache agent requires a running master agent (=dtwsagent) to be able to communicate
# with the dynaTrace server. Use this setting below to control how the master agent should
# be started on Unix platforms.
#
# "isMasterAgentServiceInstalled true" means that the master agent is running as a service.
#
# "isMasterAgentServiceInstalled false" (which shouldn't be normally needed except when
# migrating from an older dynaTrace release) means that the dtwsagent is not installed as a
# service and that the Apache agent should start the master agent upon an Apache httpd start.
#
# This setting has no relevance on Windows platforms.
#
# For compatibility reasons during migration from an older version the default is false.
# Default: false
isMasterAgentServiceInstalled true
